.auth-group{
    padding-top: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.doctor-auth-logo{
    color:green;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
